body {
  padding-top: 65px;
}

.comment-box {
  margin-top: 10px;
}

#addToFavorites {
  padding-left: 10px;
  font-size: 14px;
}

.supportBar {
  width: 200px;
  height: 20px;
  border-radius: 2px;
}

.republican {
  background: #E91D0E;
  display: inline-block;
  height: 100%;
}

.democrat {
  background: #232066;
  display: inline-block;
  height: 100%;
}

.independent {
  background: green;
  display: inline-block;
  height: 100%;
}