html {
    overflow: hidden;
    height: 100%;
}

body {
    height: 100%;
    padding-top: 65px;
    overflow: auto;
}

#nav-text {
  color: white;
  text-decoration: none;
}

#nav-text:hover {
  background-color: #656579
}

#nav-text.navbar-text.nav-link {
  margin-top: 1rem;
}

#nav-text.navbar-text.nav-link:hover {
  background-color: #4c4c5b;
}

#searchTerms {
  margin-top: 2vh;
  width: 60%;
  float: left;
  height: 45px;
}

#searchButton {
  margin-top: 2vh;
  height: 45px;
  margin-left: 1vw;
}

#search-body {
  padding-right: 1vw;
  height: 94vh;
}

#legislator-title {
  color: white;
}

#page-navbar {
  background-color: #4c4c5b;
}

#legislator-heading {
  background-color: #4c4c5b;
  color: white;
  height: 6rem;
  overflow: hidden;
}

.legislator-info {
  height: 100%;
}

.legislator-body {
  height: 85.3vh;
  padding-bottom: 5vh;
  overflow-y: scroll;
}

.comment-box {
  margin-top: 10px;
}

#addToFavorites {
  padding-left: 10px;
  font-size: 14px;
}

.supportBar {
  margin-top: 2%;
  width: 180px;
  height: 15px;
  border-radius: 10px;
}

.republican {
  background: #E91D0E;
  display: inline-block;
  height: 100%;
  border-top-right-radius: 2em;
  border-bottom-right-radius: 2em;
}

.democrat {
  background: #232066;
  display: inline-block;
  height: 100%;
  border-top-left-radius: 2em;
  border-bottom-left-radius: 2em;
}

.independent {
  background: green;
  display: inline-block;
  height: 100%;
}

.fullSupport {
  border-top-right-radius: 2em;
  border-bottom-right-radius: 2em;
  border-top-left-radius: 2em;
  border-bottom-left-radius: 2em;
}

.hideSupport {
  display: none;
}

.trackerOn {
  background: #6CC091;
}

.trackerOff {
  background: #4C4C5B;
}

#tooltip {
  white-space:pre-wrap;
}
}